{% extends 'base.html' %}
{% load bootstrap4 %}
{% load meus_filtros %}
{% load humanize %}

{% block content %}
<div class="container">
    <hr>
    <h2>Tem certeza que deseja excluir: {{ cliente.nome }}</h2>
    <hr>
    
   
        <li>{{ cliente.nome }}</li>
        <li>{{ cliente.email }}</li>
        <li>{{ cliente.data_nascimento }}</li>
        <li>{{ cliente.profissao }}</li>
        <hr>

        <form action="" method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Sim">
        </form>
        
</div>
{% endblock %}